/* agent stylesheet override */
* {
  margin: 0;
  padding: 0;
}

.main-page {
  margin: 20px;
}

.main-listing {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recording-on {
  border: 5px solid red;
}

.result-text {
  padding: 10px;
  background: lightblue;
  max-width: 50%;
  text-overflow: ellipsis;
}

.result-text:hover {
  cursor: pointer;
  border: gray;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-md {
  gap: 20px;
}

.shrink-0 {
  flex-shrink: 0;
}
